.all{
    position: absolute;
    width: 100%;
    left: 0;
}
.header{
    width:100%;
    height: 25%;
    display: flex;
    flex-wrap: nowrap;
    border: solid grey 2px;
    background-color: black;
}
.header h1{
    font-size: 53px;
    padding-bottom: 25px;
    padding-left: 15px;
    color:white;
}
.navbar{
    margin-left: 30%;
    padding: 15px;
    display: inline;
}
.buttons{
    padding: 30px;
    margin: 15px;
    border: white 2px solid;
    border-radius: 20px;
}
#aboutus{
    border: solid 1px white;
    padding: 15px;
    padding-left: 35px;
}
#login{
    border: solid 1px white;
    padding: 15px;
    margin-left: 5px; 
}
#instructions{
    border: solid 1px white;
    padding: 15px;
    padding-left: 35px;
}
#timeline{
    border: solid 1px white;
    padding: 15px;
    padding-left: 35px;
}
.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    height: 50%;
    margin-top:25px;
    color:white;
    width: 100%;
}
.scrollmenu h2{
    margin:auto;
}
.scrollmenu a:hover {
    background-color: #777;
}
#byarlant{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#hinu{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#sazabi{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#rgnu{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#renight{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#pzaku{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#rx78{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#rex{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#mgbar{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#silver{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#mgexuni{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#moon{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#fazz{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#pgu{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#aerial{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#turna{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#xi{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
#zaku{
    width: 360px;
    height: 252px;
    margin: 15px;
    border: black solid 2px;
}
.column {
    float: left;
    width: 24%;
    table-layout: fixed;
  }
.row:after {
    content: "";
    display: table;
    display: table-cell;
    clear: both;
}
.ms{
    margin-left: 50px;
}
.text{
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.container {
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 90%;
    transition: .5s ease;
}
.container:hover .overlay {
    width: 100%;
}
.display{
    margin-left: 50px;
}
.body{
    background-color: blue;
}
.foot{
    width: 100%;
    background-color: black;
}
.bg{
    background-image: url(https://dotandline.net/wp-content/uploads/2019/04/1dozBA0xPKU_-UR4HnZ-CCA-1210x642.jpg);
    background-size: 100%;
}